<!--&lt;!&ndash;<h1>Courses</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<app-courses></app-courses>&ndash;&gt;-->
<!--<app-favorite [isFavarite]="post.isFavorite" (change)="OnFavariteClick($event)"></app-favorite>-->

<!--<app-pannel>-->
  <!--<ng-container class="heading">lalal</ng-container>-->
  <!--<div class="heading">-->
      <!--<h2>heading </h2>-->
      <!--<p>heading body</p>-->
  <!--</div>-->
  <!--<div class="body">-->
    <!--<h2>body </h2>-->
    <!--<div>bodyyyyyyy</div>-->
  <!--</div>-->

<!--</app-pannel>-->


<!--<p *ngIf="courses.length > 0 ; then coursesList else listIsEmpty"></p>-->

<!--<ng-template #coursesList>-->
  <!--list of courses-->
<!--</ng-template>-->
<!--<ng-template #listIsEmpty>-->
<!--list is empty-->
<!--</ng-template>-->


<!--<div *ngIf="courses.length == 0">-->
  <!--list is empty-->
<!--</div>-->

<!--<div [hidden]="courses.length == 0" >-->
  <!--list-->
<!--</div>-->
<!--<div [hidden]="courses.length > 0" >-->
  <!--empty-->
<!--</div>-->


<!--<div class="nav nav-pills">-->
  <!--<li [class.active]="ViewMode == 'map'"><a (click)="ViewMode = 'map'"> Map View </a></li>-->
  <!--<li [class.active]="ViewMode == 'list'"><a (click)="ViewMode = 'list'">List View</a> </li>-->
<!--</div>-->
<!--<div [ngSwitch]="ViewMode">-->
  <!--<p *ngSwitchCase="'map'">Map View</p>-->
  <!--<p *ngSwitchCase="'list'">List View</p>-->
<!--</div>-->


<!--<li *ngFor="let cours of courses ; index  as i">-->
  <!--{{i}} _ {{cours.name}}-->
<!--</li>-->

<!--<app-courses></app-courses>-->
<app-products></app-products>
<!--<app-test-declarative product={{alaki}}></app-test-declarative>-->
<!--<contact-form></contact-form>-->

<!--<signup-form></signup-form>-->
